<nav class="navbar navbar-expand-md navbar-light header-nav-bar">
  <a href="#" class="navbar-brand">
      <img src="/examples/images/logo.svg" height="28">
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link">Home</a>
          <a href="#" class="nav-item nav-link active">Shows</a>
          <a href="#" class="nav-item nav-link">Movies</a>
          <a href="#" class="nav-item nav-link">Watchlist</a>
      </div>
  </div>
</nav>