<nav class="navbar navbar-expand-md navbar-light header-nav-bar">
  <a href="#" class="navbar-brand">
      <img src="../../assets/logo.png" height="50">
      <img class="icon-text" src="../../assets/logo text.png" height="50">
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link">Home</a>
          <a href="#" class="nav-item nav-link active">Shows</a>
          <a href="#" class="nav-item nav-link">Movies</a>
          <a href="#" class="nav-item nav-link">Watchlist</a>
          <a href="#" class="nav-item nav-link"><img src="../../assets/search@3x.png" height="30"></a>
          <a href="#" class="nav-item"><img class="user-profile-nav" src="../../assets/userplace.jpg" height="50"></a>
          <!-- <a href="#" class="nav-item nav-link"><img src="../../assets/search@3x.png" height="40"></a> -->
      </div>
  </div>
</nav>