.backgroundImage {
  background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../../assets/banner.jpg");
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card-container{
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: 400;
  margin: auto;
  padding: 20px;
  border: 3px #282828 solid;
  border-radius: 20px;
  background-color: rgba(0,0,0,.7);
}
.loginText{
  font-size: 30px;
  color: #FFFFFF;
  width: 100%;
}
.login-border-bottom{
  background-color:	#cc2b5e;
  height: 5px;
  width: 90px;
  border-radius: 5px;
}
.social-text{
  color: gray;
  margin-top: 20px;
}
.facebook-social-image-container{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70px;
  border-right: 2px #cc2b5e solid;
}
.google-social-image-container{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70px;
  margin-left: 20px;
}
.social-icon{
  width: 50px;
  height: 50px;
}
.countinue-text-container{
  margin-top: 45px;
}
.countinue-text{
  color: grey;
  text-align: center;
}
.left-gradient-container{
  padding-right: 0;
  padding-top: 10px;
}
.left-gradient{
  height: 2px;
  background: linear-gradient(
    to left,
    #cc2b5e,
    rgba(255, 0, 0, 0)
  )
}
.right-gradient-container{
  padding-left: 0;
  padding-top: 10px;
}
.right-gradient{
  height: 2px;
  background: linear-gradient(
    to right,
    #cc2b5e,
    rgba(255, 0, 0, 0)
  )
}

.text-field-container{
  padding: 50px 10%;
}

.icon-placeholder{
  height: 30px;
  width: 35px;
}
.text-input{
  width: 100%;
  margin-left: 10px;
  background: transparent;
  border: none;
  color: grey;
}
.email-container{
  display: flex;
}
.wrapper {
  text-align: center;
}
.button {
  padding: 5px 50px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,86,1) 0%, rgba(131,58,180,1) 100%);
  border: none;
  color: #FFFFFF;
  font-weight: 600;
}