<div class="backgroundImage">
  <div class="card-container col-md-4 col-lg-4 col-xl-3">
    <div class="loginText">
        <span>Sign in</span>
        <div class="login-border-bottom"></div>
    </div>
    <div class="social-text">
      <p>Enter via social network</p>
    </div>
    <div style="display: flex; margin-left: 40px;">
      <div class="facebook-social-image-container">
        <img class="social-icon" src="../../assets/facebook.png" alt="">
      </div>
      <div class="google-social-image-container">
        <img class="social-icon" src="../../assets/google.svg" alt="">
      </div>
    </div>
    <div class="row countinue-text-container">
      <div class="col left-gradient-container">
        <div class="left-gradient"></div>
      </div>
      <div class="col countinue-text">Countinue with</div>
      <div class="col right-gradient-container">
        <div class="right-gradient"></div>
      </div>
    </div>
    <div class="text-field-container">
      <div class="email-container">
        <img class="icon-placeholder"  src="../../assets/enve.png" alt="">
        <div style="width: 100%;">
          <input class="text-input" type="text" placeholder="Email Address">
          <div style="margin-top: 10px; height: 2px;" class="row">
            <span class="col left-gradient"></span>
            <span class="col right-gradient"></span>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px;" class="email-container">
        <img class="icon-placeholder" src="../../assets/enve.png" alt="">
        <div style="width: 100%; height: 2px;">
          <input class="text-input" type="password" placeholder="Password">
          <div style="margin-top: 10px;" class="row">
            <span class="col left-gradient"></span>
            <span class="col right-gradient"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <button class="button">SIGN IN</button>
  </div>
    <!-- <input type="text" id="fname" placeholder="Email Address">
    <input type="text" id="fname" placeholder="Password"> -->
  </div>
</div>