/* @import url('https://fonts.googleapis.com/css?family=Proxima+Nova'); */
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.backgroundImage {
  background-image: linear-gradient(rgba(21,28,37,0.7), rgba(21,28,37,0.7)), url("../../assets/new-banner.jpg");
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.card-container{
  font-weight: 400;
  margin: auto;
  padding: 20px;
  /* border: 2px #181818 solid; */
  border-radius: 8px;
  background-color: rgba(21,28,37,0.7);
}
.sub-text-color{
  color: #596172 !important;
  font-size: 18px;
}
.futura{
  font-family: Futura,Trebuchet MS,Arial,sans-serif !important;
}
.proxima-nova{
  font-family: "Roboto" !important;
}
.loginText{
  font-size: 30px;
  color: #FFFFFF;
  width: 100%;
}
.login-border-bottom{
  background-color:	#cc2b5e;
  height: 5px;
  width: 90px;
  border-radius: 5px;
}
.signup-border-bottom{
  background-color:	#cc2b5e;
  height: 5px;
  width: 105px;
  border-radius: 5px;
}
.social-text{
  color: gray;
  margin-top: 20px;
  margin-bottom: 5px;
}
.facebook-social-image-container{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70px;
  border-right: 2px #cc2b5e solid;
}
.google-social-image-container{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70px;
  margin-left: 20px;
}
.social-icon{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.countinue-text-container{
  margin-top: 25px;
}
.countinue-text{
  color: grey;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.left-gradient-container{
  padding-right: 0;
  padding-top: 13px;
}
.left-gradient{
  height: 1px;
  background: linear-gradient(
    to left,
    #cc2b5e,
    rgba(255, 0, 0, 0)
  )
}
.right-gradient-container{
  padding-left: 0;
  padding-top: 13px;
}
.right-gradient{
  height: 1px;
  background: linear-gradient(
    to right,
    #cc2b5e,
    rgba(255, 0, 0, 0)
  )
}

.text-field-container{
  padding: 50px 10%;
}

.icon-placeholder{
  height: 25px;
  width: 25px;
}
.text-input{
  font-size: 18px;
  width: 100%;
  margin-left: 10px;
  background: transparent;
  border: none;
  color: #FFFFFF !important;
}
.email-container{
  display: flex;
}
.wrapper {
  text-align: center;
}
.sign-in-button {
  padding: 12px 121px;
  border-radius: 5px;
  margin-top: 20px;
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,86,1) 0%, rgba(131,58,180,1) 100%);
  border: none;
}

.sign-in-button-text
{
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.login-button-container{
  margin-top: 15px;
}
input:focus{
  outline: none;
}
button:focus{
  outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #596172 !important;
  opacity: 1; /* Firefox */
}
.sign-in-up-ratator{
  margin-left: 10px;
  color: #cc2b5e;
  cursor: pointer;
}

.sign-in-up-ratator:hover {
text-decoration: underline;
}

@-webkit-keyframes autofill {
    0%,100% {
        color: #FFFFFF;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
