<div class="backgroundImage">
  <div class="card-container col-md-5">
    <div class="loginText">
        <span>Sign in</span>
        <div class="login-border-bottom"></div>
    </div>
    <div class="social-text">
      <p>Enter via social network</p>
    </div>
    <div style="display: flex; margin-left: 40px;">
      <div class="facebook-social-image-container">
        <img class="social-icon" src="../../assets/facebook.png" alt="">
      </div>
      <div class="google-social-image-container">
        <img class="social-icon" src="../../assets/google.svg" alt="">
      </div>
    </div>
    
  </div>
</div>