.backgroundImage {
  background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../../assets/banner.jpg");
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.card-container{
  margin: auto;
  padding: 20px;
  border: 3px #282828 solid;
  border-radius: 20px;
  background-color: rgba(0,0,0,.4);
  margin-top: 13%;
}
.loginText{
  font-size: 30px;
  color: #FFFFFF;
}
.login-border-bottom{
  background-color:	#C71585;
  height: 5px;
  width: 90px;
  border-radius: 5px;
}
.social-text{
  color: gray;
  margin-top: 20px;
}
.facebook-social-image-container{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70px;
  border-right: 2px #C71585 solid;
}
.google-social-image-container{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70px;
  margin-left: 20px;
}
.social-icon{
  width: 50px;
  height: 50px;
}
.countinue-text-container{
  margin-top: 45px;
}
.countinue-text{
  color: grey;
  text-align: center;
}
.left-gradient-container{
  padding-right: 0;
  padding-top: 10px;
}
.left-gradient{
  height: 3px;
  background: linear-gradient(
    to left,
    red,
    rgba(255, 0, 0, 0)
  )
}
.right-gradient-container{
  padding-left: 0;
  padding-top: 10px;
}
.right-gradient{
  height: 3px;
  background: linear-gradient(
    to right,
    red,
    rgba(255, 0, 0, 0)
  )
}