<!-- You can now use your library component in app.component.html -->
<div>
  <app-header></app-header>
  <div style="padding-left: 3%; padding-right: 3%;">
    <ngx-slick-carousel class="carousel main-carosal" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div style="padding: 2%; outline: none;">
          <div class="corosal-image-container">
            <img class="carosal-banner-image" style="border-radius: 6px;" src="../../assets/thanos.jpg" alt="" width="100%">
            <div  *ngIf="slide['isTitleVisible']" class="dashboard-content-compact-div">
              <span class="dashboard-content-compact-slide-title">slide_title</span>
            </div>
          </div>
          <!-- <div class="shadow-overlay shadow-banner"></div> -->
        </div>
      </div>
    </ngx-slick-carousel>

    <div class="sub-heading-for-sub-carosal">
      <span>Continue Watching</span>
      <span class="more-container">More >></span>
    </div>
  
    <ngx-slick-carousel class="carousel sub-carosal" #slickModal="slick-carousel" [config]="movieconfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div style="padding: 10px; outline: none;">
          <div id="slide['id']" (mouseenter) ="sliderHoverEntered(slide['id']) " (mouseleave) ="sliderHoverLeave(slide['id'])" class="style_prevu_kit">
            <img class="dashboard-content-slide-image"  style="border-radius: 6px;" src="../../assets/banner.jpg" alt="" width="100%">

            <!-- normal div -->
            <div  *ngIf="slide['isTitleVisible']" class="dashboard-content-compact-div">
              <span class="dashboard-content-compact-slide-title">slide_title</span>
            </div>

            <!-- on hover div -->
            <div  *ngIf="!slide['isTitleVisible']" class="dashboard-content-detail-div">
              <span class="dashboard-content-detail-title" >Zoomed_title_here</span>
              <div class="duration-div">
                <img style="float:left;" class="dashboard-content-detail-clock-icon" src="../../assets/thanos.jpg" alt="">
                <span style="float:left;" class="dashboard-content-detail-duration-title">129MIN</span>
              </div>

            </div>
          </div>

        </div>
      </div>
    </ngx-slick-carousel>

    <div class="sub-heading-for-sub-carosal-2">
      <span>Latest Movies</span>
      <span class="more-container">More >></span>
    </div>
  
    <ngx-slick-carousel class="carousel sub-carosal" #slickModal="slick-carousel" [config]="movieconfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div style="padding: 10px; outline: none;">
          <img class="style_prevu_kit" style="border-radius: 6px;" src="../../assets/banner.jpg" alt="" width="100%">
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>