<!-- You can now use your library component in app.component.html -->
<div>
  <app-header></app-header>
  <div style="padding-left: 3%; padding-right: 3%;">
    <ngx-slick-carousel class="carousel main-carosal" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div style="padding: 2%; outline: none;">
          <div class="corosal-image-container">
            <div class="overlay">
              <img class="carosal-banner-image" style="border-radius: 6px;" [src]=slide.img alt="" width="100%">
            </div>
            <!-- <div class="shadow-overlay shadow-banner"></div> -->
            <div class="dashboard-content-compact-div-banner">
              <span class="dashboard-content-banner-compact-slide-title">{{slide['movie_title']}}</span>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
    <div class="next-prev-arrow-div">
      <img class="prev-custom-buttin-main-carosal" src="../../assets/arrow.svg" (click)="prev()">
      <img class="next-custom-buttin-main-carosal" src="../../assets/arrow.svg" (click)="next()">
    </div>

  </div>

  <div style="padding-left: 3%; padding-right: 3%;">
    <div class="sub-heading-for-sub-carosal">
      <span class="dashboard-category-title faded-white-color">Continue Watching</span>
      <span class="more-container faded-white-color">More >></span>
    </div>
  
    <ngx-slick-carousel class="carousel sub-carosal" #slickModal="slick-carousel" [config]="movieconfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div class="carousel-slide-container" >
          <div class="style_prevu_kit">
            <img class="dashboard-content-slide-image"  style="border-radius: 6px;" [src]=slide.img alt="" width="100%">
  
            <!-- normal div -->
            <div class="dashboard-content-compact-div">
              <span class="dashboard-content-compact-slide-title faded-white-color">{{slide['movie_title']}}</span>
            </div>
  
            <!-- on hover div -->
            <div class="dashboard-content-detail-div">
              <img class="dashboard-content-detail-play-icon" src="../../assets/play-xxl.png" alt="">
              <span class="dashboard-content-detail-title" >{{slide['movie_title']}}</span>
              <div class="duration-div">
                <img style="float:left;" class="dashboard-content-detail-clock-icon" src="../../assets/clock-xxl.png" alt="">
                <span style="float:left;" class="dashboard-content-detail-duration-title">{{slide['duration']}}</span>
                <span class="dashboard-content-detail-quality-title">HD</span>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </ngx-slick-carousel>
  
  </div>
</div>