.slick-center{
    /* -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    transform -y: ; */
    -webkit-transform: scaleY(1.25);
    -moz-transform: scaleY(1.25);
    transform: scaleY(1.25);
}

.slick-center >img {
    height: 165px;
}