@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.main-carosal .slick-center{
    /* -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    transform -y: ; */
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform .5s;
}

.main-carosal.slick-active{

}

/* .slick-center >img {
    height: 165px;
} */
.main-carosal::ng-deep .slick-list{
    padding: 3% 0px !important;
}

::ng-deep .slick-active{
    outline: none !important;
}

/* ::ng-deep .slick-active .dashboard-content-compact-div-banner {
    visibility: hidden !important;
    opacity: 0;
}

::ng-deep .slick-center .dashboard-content-compact-div-banner {
    visibility: visible !important;
    opacity: 1;
} */


.sub-carosal::ng-deep .slick-list{
    padding: 1% 0px !important;
    padding-top: 0px !important;
}

/* this is the bottom bard css */
.style_prevu_kit{
    box-shadow: 0px 0px 3px #FFFFFF;
}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 3px #FFFFFF;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
    max-width: 500px;
    max-height: 500px;
    position: relative;
}

.shadow-overlay
{
    margin: 10px;
    outline: none;
    position: absolute;
    width: 93%;
    height: 88%;
    /* box-shadow: inset 0px 0px 0px 70px rgba(0,0,0,0.03)!important; */
    /* box-shadow: 0 -70px 70px -10px inset grey; */
    top: 0;
    left: 0;
}

.shadow-banner
{
    box-shadow: 0 -40px 10px -4px inset rgba(0,0,0,0.1);
}


.carosal-banner-image{
    box-shadow: 0px 0px 3px #FFFFFF;
}

.dashboard-content-detail-div
{
    /* background-color: red; */
    position:absolute;
    /* bottom:5px; */
    bottom: 3%;
}

.dashboard-content-compact-div
{
    position:absolute;
    bottom:5%
}

.dashboard-content-compact-div-banner
{
    position:absolute;
    bottom:5%
}

.dashboard-content-detail-title
{
    font-family: "Roboto" !important;
    position: relative;
    color: white;
    left: 6%;
    /* font-size:16px; */
    font-size:1.2vw;
}


.dashboard-content-detail-clock-icon
{
    position: relative;
    color: white;
    margin-left: 6%;
    /* height: 20px;
    width: 20px; */
    height: 15%;
    width: 10%;

}


.dashboard-content-slide-image
{
    filter: brightness(50%);
}

.dashboard-content-compact-slide-title
{
    font-family: "Roboto" !important;
    color:white;
    /* font-size:16px; */
    font-size:1.2vw;
    position: relative;
    left:10px;
}


.dashboard-content-detail-duration-title
{
    font-family: "Roboto" !important;
    color:White;
    font-size:1.2vw;
}


.duration-div
{
    display: flex;
}

.sub-heading-for-sub-carosal{
    color: #FFFFFF;
    margin-top: 20px;
    position: relative;
    top: 10px;
    /* left: 5px; */
}

.sub-heading-for-sub-carosal-2{
    color: #FFFFFF;
}
.more-container{
    float: right;
    cursor: pointer;
}

.dashboard-category-title
{
    font-family: "Roboto" !important;
    font-size: 1.5vw;
}

.dashboard-content-detail-quelity-title{
    background-color: gray;
    color: #FFFFFF;
    padding: 0% 3%;
    border-radius: 20px;
    font-size: 1.0vw;
    font-family: "Roboto" !important;
}